<p>    
  Heading: <%= @hole.heading %> <br/>
  Distance: <%= @hole.distance %>
</p>
<ul class="homemenu">
      <li><a href="\Single\information_googlemaps">Maps view</a></li>
    </ul> 
<script type="text/javascript">
	$("#compass").rotate(<%= @hole.heading %>);
</script>
<!-- <a href="/app/Hole">Holes</a> -->