<div data-role="page" data-add-back-btn="true">
<script src="/public/js/update.js" type="text/javascript"></script>

  <div data-role="header" data-position="inline">
    <h1>Single distance</h1>
  </div>
<!-- <div data-role="content"> -->
    <div id="information">
      <%= render :partial => "information" %>
    </div> 
    <a href="#" id="update_distance">Update heading and distance</a>
<a class="standardbutton" href="<%= url_for :action => 'show_map'%>" id="update_distance">View Map</a>
 
    
<!--  </div> -->
</div>
