<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>Home</h1>
  </div>

  <div data-role="content">
    <ul class="homemenu">
      <li><a href="Single">Single distance</a></li>
      <li><a href="NewCourse">New Course</a></li>
      <li><a href="History">History</a></li>
      <li><a href="Settings">Settings</a></li>
			<li><a href="Hole">Hole test</a></li>
			<li><a href="NewCourse/delete_all">Clear DB</a></li>
			<li><a href="Test">Testpagina David</a></li>
    </ul>
 </div>
</div>