<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>Home</h1>
  </div>

  <div data-role="content">
    <ul class="homemenu">
      <li><a href="Single">Single distance</a></li>
      <li><a href="NewCourse">New Course</a></li>
      <li><a href="History">History</a></li>
      <li><a href="Settings">Settings</a></li>
      <!-- <li><a href="AccelerometerTest">AccelerometerTest</a></li> -->
      <!-- <li><a href="LocationmanagerTest">LocationmanagerTest</a></li> -->
      <!-- <li><a href="SpecRunner">SpecRunner</a></li> -->
    </ul>

   <ul class="bnav">
     <li><a href="Single"><img src="/public/images/icons/single.png"></a></li>
     <li><a href="NewCourse"><img src="/public/images/icons/single.png"></a></li>
     <li><a href="History"><img src="/public/images/icons/single.png"></a></li>
     <li><a href="Settings"><img src="/public/images/icons/single.png"></a></li>
     <li><a href="Scorecard"><img src="/public/images/icons/single.png"></a></li>
   </ul>
 </div>
</div>
