<ul class="bnav">
  <li><a href="Single"><img src="/public/images/icons/single.png"></a></li>
  <li><a href="NewCourse"><img src="/public/images/icons/single.png"></a></li>
  <li><a href="History"><img src="/public/images/icons/single.png"></a></li>
  <li><a href="Settings"><img src="/public/images/icons/single.png"></a></li>
  <li><a href="Scorecard"><img src="/public/images/icons/single.png"></a></li>
</ul>
