<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>History</h1>
  </div>

  <div data-role="content">
     <div Class="Scorecard">
     <table>
          <tr id="toprowscorecard">
              <td>Hole</td>
              <td>Handicap</td>
              <td>Distance</td>
              <td>Par</td>
              <td>Player 1 Hits</td>
          </tr>
          <tr>
              <td>1</td>
              <td>unknown</td>
              <td>get from DB</td>
              <td>unknown</td>
              <td>get from DB</td>
          </tr>
          <tr ID="activerowscorecard">
              <td>2</td>
              <td>unknown</td>
              <td>get from DB</td>
              <td>unknown</td>
              <td>get from DB</td>
          </tr>
          <tr>
                <td>3</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>4</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>5</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>6</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>7</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>8</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
          <tr>
                <td>9</td>
                <td>unknown</td>
                <td>get from DB</td>
                <td>unknown</td>
                <td>get from DB</td>
          </tr>
     </table>
     </div>
     <div class="STranspararent">
     Next 9 holes -- knopje van maken
     </div>
  </div>

</div>
