<div data-role="page" data-add-back-btn="true">



  <div data-role="header" data-position="inline">
    <h1>New Course</h1>
  </div>
  <div data-role="content">
        <div class="center">
            <form method="get" action="/app/NewCourse/Holes/index.erb">   
            <p>Golf Club name:
               <br> <input id="coursename_input" type="text" name="coursename"></input>
               <br>Course name:
               <br> <input id="coursename_input" type="text" name="coursename"></input>
            </p>
              <select>
                <option value="9hole"> 9 holes course </option>
                <option value="18hole"> 18 holes course </option>
              </select>
              <select>
                <option value="man"> Male </option>
                <option value="woman"> Female </option>
              </select>
              <select>
                <option value="free"> Regular player</option>
                <option value="pro"> Professional </option>
              </select>
            </form>
            <input type="submit" value="Start playing" class="standardbutton">
        </div>
        <div class="STransparent">
              Select the settings for this new course
        </div>
        <p class="opmerkingen"> het start playing werkt nog niet. <br> de pulldown keuzes opslaan in DB. belangrijk voor onthouden van verschillende afstanden voor vrouwen/mannen</p> 

</div>

