<div data-role="page" data-add-back-btn="true">



  <div data-role="header" data-position="inline">
    <h1>New Course</h1>
  </div>
  <div data-role="content">
        <div class="center">
            <form method="POST" action="<%= url_for :action => :new_course %>">  
            <p>Golf Club name:
               <br> <input id="newcourse_club_name" type="text" name="newcourse[club_name]"></input>
               <br>Course name:
               <br> <input id="newcourse_course_name" type="text" name="newcourse[course_name]"></input>
            </p>
              <select id="newcourse_holes_count" name="newcourse[holes_count]">
                <option value="9"> 9 holes course </option>
                <option value="18"> 18 holes course </option>
              </select>
              <select id="newcourse_gender" name="newcourse[gender]">
                <option value="1"> Male </option>
                <option value="0"> Female </option>
              </select>
              <select id="newcourse_player_level" name="newcourse[player_level]">
                <option value="1"> Regular player</option>
                <option value="0"> Professional </option>
              </select>
	            <input type="submit" value="Start playing" class="standardbutton">
            </form>
        </div>
        <div class="STransparent">
              Select the settings for this new course
        </div>
        <p class="opmerkingen"> het start playing werkt nog niet. <br> de pulldown keuzes opslaan in DB. belangrijk voor onthouden van verschillende afstanden voor vrouwen/mannen</p> 

</div>

