<div data-role="page" data-add-back-btn="true">



  <div data-role="header" data-position="inline">
    <h1>New Course</h1>
  </div>
  <div data-role="content">
  
  <div class="center">
  <p class="opmerkingen">laden van pagina "single" met extra's:</p>
     <ul>
           <li> 00 balls hit this hole</li>
           <li> knop "ball hit".</li>
           <li> knop "next hole" </li>
           <li> knop "play another hole"</li>
           <li> now playing Hole 00</li>
     </ul>
  </div>
 

