<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
  <br>
    <ul class="homemenu">
      <li><a href="\Settings\SettingsUser">User Settings</a></li>
      <li><a href="\Settings\SettingsApplication">Application Settings</a></li>
    </ul> 
  </div>
</div>
