<div data-role="page" data-add-back-btn="true">
  <div data-role="header" data-position="inline">
    <h1>New Course</h1>
  </div>
  <div data-role="content">  
	  <div class="center">
	  	<p class="opmerkingen">"<strong>first</strong>" hole moet aangepast worden als er al een hole gespeeld is</p>
      <br> <input type="submit" value="Start First hole" class="standardbutton">
      <br> <input type="submit" value="Start from other hole" class="standardbutton">
	  </div>
	</div> 
</div>
