<div data-role="page" data-add-back-btn="true">
<script src="/public/js/update.js" type="text/javascript"></script>

  <div data-role="header" data-position="inline">
    <h1>Hole <%= @hole.hole_nr %></h1>
  </div>
  <div data-role="content">
    <div id="information">
      <%= render :partial => "information" %>
    </div> 
		<div id="swings"></div></br>
		<a href="#" id="course_add_swing">Add swing</a>
  </div>
</div>