<div data-role="page" data-add-back-btn="true">
	<script src="/public/js/update.js" type="text/javascript"></script>
	<script src="/public/js/input_form.js" type="text/javascript"></script>

  <div data-role="header" data-position="inline">
    <h1>Hole <%= @hole.hole_nr %></h1>
  </div>
	<div data-role="content">
		<div id="information">
	  	<%= render :partial => "information" %>
		</div>
	 	<div id="swings"></div></br>

	   <div>
					<a href="<%= url_for :action => :information_googlemaps %>"><div class="viewmapbutton"><div id="viewmapbutton"></div><p>View map</p></div></a>
	        <a href="#" id="course_prev_hole"><div class="previousholebutton"><div class="arrow-left"></div><p>Previous Hole</p></div></a>
	        <a href="#" id="course_add_swing"><div class="addswingbutton"><div id="add">+</div><p>Add swing</p></div></a>
	        <a href="#" id="update_heading_distance"><div class="updatebutton"><div id="updatebutton"></div><p>Update</p></div></a>
	        <a href="#" id="course_undo_swing"><div class="undoswingbutton"><div id="substract">-</div><p>Undo swing</p></div></a>
	        <a href="<%= url_for(:action => :finish_hole) %>" id="course_next_hole"><div class="startnextholebutton"><div class="arrow-right"></div><p>Start next Hole</p></div></a>
	   </div>
	   
	</div>

</div>
