<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Test6</h1>
  </div>


     <div>

          <div class="viewmapbutton"><div id="viewmapbutton"><p>View map</p></div></div> 
            
          <div class="previousholebutton"><div class="arrow-left"></div><p>Previous Hole</p></div> 
          <div class="addswingbutton"><div id="add">+</div><p>Add swing</p></div> 
          <div class="updatebutton"><div id="updatebutton"></div><p>update</p></div> 
          <div class="undoswingbutton"><div id="substract">-</div><p>Undo swing</p></div> 
          <div class="startnextholebutton"><div class="arrow-right"></div><p>Start next Hole</p></div> 
            
     </div>
     <div class="opmerkingen">
     deze gehele tabel wordt uitgelezen uit de database. <br>
     alle losse golf clubs met behorende course en datum uit eerste "New Course" uitlezen,<BR> plus optellen van score, plus link maken naar een score kaart van de betreffende baan.<br>
     </div> 


</div>
