<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>Test6</h1>
  </div>

  <div data-role="content">
     <div>
          <input type="submit" value="Previous Courses" class="testbackbutton">
          <input type="submit" value="Next Courses">
          <input type="submit" value="Select different player" class="testaddbutton">
     </div>
     <div class="opmerkingen">
     deze gehele tabel wordt uitgelezen uit de database. <br>
     alle losse golf clubs met behorende course en datum uit eerste "New Course" uitlezen,<BR> plus optellen van score, plus link maken naar een score kaart van de betreffende baan.<br>
     </div> 
  </div>

</div>
