<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <h1>History</h1>
  </div>

  <div data-role="content">
     <div Class="Scorecard">
     <table>
          <tr id="toprowscorecard">
              <td>Hole</td>
              <td>Handicap</td>
              <td>Distance</td>
              <td>Par</td>
              <td>Player 1 Hits</td>
          </tr>
					<% @holes.each do |hole| %>
          <tr>
              <td><%= hole.hole_nr %></td>
              <td> - </td>
              <td><%= hole.distance %></td>
              <td><%= hole.par %></td>
              <td><%= hole.swing_count %></td>
          </tr>
					<% end %>
          <!-- <tr ID="activerowscorecard">
              <td>2</td>
              <td>unknown</td>
              <td>get from DB</td>
              <td>unknown</td>
              <td>get from DB</td>
          </tr> -->
     </table>
     </div>
     <div>
          <input type="submit" value="Next 9 holes" class="standardbutton">
          <input type="submit" value="Select different player" class="standardbutton">
     </div>
     <div class="opmerkingen">
     deze gehele tabel wordt uitgelezen uit de database. <br>
     waarbij de handicap ingevoerd kan worden op deze scorekaart, en moeten dus invulvelden zijn <br>
     Distance en Par wordt bij "single hole" ingevuld <br>
     Player 1 Hits wordt opgeteld
     </div> 
  </div>

</div>
